{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1 class="my-4"></h1>
<div class="card">
  <div class="card-body p-5 bg-light">
    <div class="display-4 bg-light">{% trans "Hello everyone!" %}</div>
    <p class="lead">{% trans "My final work of the Python Developer course on the Hexlet platform" %}</p>
    <hr>
    <a class="btn btn-primary btn-lg" href="https://github.com/Andrey-Barinov/python-project-52">{% trans "View the code on Github" %}</a>
  </div>
</div>
{% endblock %}
