{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1 class="my-4">{% trans "Sign in" %}</h1>
<form method="post">
  {% csrf_token %}

  {% for error in form.non_field_errors %}
  <ul class="list-unstyled text-danger">
    <li>{{error}}</li>
  </ul>
  {% endfor %}

  {% for f in form %}
  <div class="mb-2">
    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</div>
  <div class="text-danger">{{ f.errors }}</div>

  {% if f.help_text %}
  <div class="form-text mb-2 mt-0">{{ f.help_text }}</div>
  {% endif %}

  {% endfor %}

  <input class="btn btn-primary mt-3" type="submit" value="{% trans 'Enter' %}">
</form>
{% endblock %}
