{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1 class="my-4">{% trans "Viewing task" %}</h1>
<div class="card">
  <div class="card-header bg-secondary text-white">
    <h2>{{ task.name }}</h2>
  </div>
  <div class="card-body bg-light">
    <p>{{ task.description }}</p>
    <hr>
    <div class="container">
      <div class="row p-1">
        <div class="col">{% trans 'Author' %}</div>
        <div class="col">{{ task.author }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans 'Executor' %}</div>
        {% if task.executor %}
        <div class="col">{{ task.executor }}</div>
        {% else %}
        <div class="col"></div>
        {% endif  %}
      </div>
      <div class="row p-1">
        <div class="col">{% trans 'Status' %}</div>
        <div class="col">{{ task.status }}</div>
      </div>
      <div class="row p-1">
        <div class="col">{% trans 'Сreated at' %}</div>
        <div class="col">{{ task.created_at }}</div>
      </div>
      <div class="row p-1">
        <div class="col">
          <h6>{% trans 'Labels' %}:</h6>
          <ul>{% if task.labels.all %}
              {% for label in task.labels.all %}
              <li>{{ label.name }}</li>
              {% endfor %}
              {% endif %}
          </ul>
        </div>
      </div>
      <div class="row p-1">
        <div class="col">
          <a href="{% url 'tasks:update' task.pk %}">{% trans 'Update' %}</a>
          <br>
          <a href="{% url 'tasks:delete' task.pk %}">{% trans 'Delete' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
