{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1 class="my-4">{% trans 'Tasks' %}</h1>
<a class="btn btn-primary mb-3" href="{% url 'tasks:create' %}">{% trans 'Create task'%}</a>
<div class="card mb-3">
    <div class="card-body bg-light">
        <form class="form-inline center" action="" method="get">
            {% for f in filter.form %}
                {% if f.id_for_label == 'id_self_tasks' %}
                <div class="mb-2">
                    {{ f }}
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                </div>
                {% else %}
                <div class="mb-2">
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                    {{ f }}
                </div>
                {% endif %}
            {% endfor %}
            <input class="btn btn-primary" type="submit" value="{% trans 'Show'%}">
        </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
          <th>ID</th>
          <th>{% trans 'Name' %}</th>
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Author' %}</th>
          <th>{% trans 'Executor' %}</th>
          <th>{% trans 'Сreated at' %}</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.pk }}</td>
        <td><a href="{% url 'tasks:detail' task.pk %}">{{ task.name }}</a></td>
        <td>{{ task.status }}</td>
        <td>{{ task.author }}</td>
        {% if task.executor %}
        <td>{{ task.executor }}</td>
        {% else %}
        <td></td>
        {% endif  %}
        <td>{{ task.created_at }}</td>
        <td>
          <a href="{% url 'tasks:update' task.pk %}">{% trans 'Update' %}</a>
          <br>
          <a href="{% url 'tasks:delete' task.pk %}">{% trans 'Delete' %}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}
