{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans 'Users' %}
{% endblock %}

{% block content %}
<div>
    <h1>{% trans 'Users' %}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">{% trans 'Username' %}</th>
                <th scope="col">{% trans 'Full Name' %}</th>
                <th scope="col">{% trans 'Creation Date' %}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                <td>
                    <a href="{% url 'user_update' user.id %}">{% trans 'Edit' %}</a>
                    <br>
                    <a href="{% url 'user_delete' user.id %}">{% trans 'Delete' %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}