{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">{% trans 'Deleting status' %}</h1>
    <p><a href="{% url 'statuses:statuses' %}">{% trans 'Back to the list of statuses' %}</a></p>
<form method="post">
    {% csrf_token %}
    <p>{% trans 'Are you sure you want to delete' %} {{ status.name }}?</p>
    <input class="btn btn-danger mt-3" type="submit" value="{% trans 'Yes, delete' %}">
    </form>
</div>
{% endblock %}
