{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">{% trans 'Deleting user' %}</h1>
    <p><a href="{% url 'users:users' %}">{% trans 'Back to the list of users' %}</a></p>
<form method="post">
    {% csrf_token %}
    <p>{% trans 'Are you sure you want to delete' %} {{ user.first_name }} {{ user.last_name }}?</p>
    <input class="btn btn-danger mt-3" type="submit" value="{% trans 'Yes, delete' %}">
    </form>
</div>
{% endblock %}

